* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* width: 100%; */
}

.content {
    display: grid;
    place-items: center;
    gap: 10px;
    padding-top: 100px;
}

.div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    border: 3px solid black;
    background-color: white;
}

.button-container {
    display: flex;
    gap: 10px;
}

.first-small-div {
    border: 1px solid gray;
    width: 16px;
    height: 16px;
    /* cursor: pointer; */
}

.click-me {
    padding: 10px;
    color: red;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

.overlay {
    /* background-color: rgba(0, 0, 0.5); */
    /* position: absolute; */

}
